
.footer {
  margin-top: 50%;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #343a40;
}

.footer-icon {
  margin-left:20px;
  color : whitesmoke;
  font-size: 30px;
  content: black;

}

.faceI i:hover{
  color:#3b5998;
}

.twiI i:hover {
  color:#1da1f2;
}

.instaI i:hover {
  color:#e1306c;
}

.container-shop {
  padding:20px;
  padding-left:300px;
  overflow-x: hidden;
}

.legal-container {
  margin-top:43px;
  padding:15px;
  margin-left: 280px;
  margin-bottom:35px;
}

.sidenav {
  height: 88%;
  width: 270px;
  position: fixed;
  z-index: 6;
  top: 50px;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 35px;
}

.sidenav a, form{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.container-side {
  padding-top:25px;
}

.dropdown-menu a{
  color:black;
}

.field_c{
  font-size: 20px;
}

@media (max-width: 700px) {
  .container-side {
    display: none;
    padding-top:25px;
  }

  .legal-container {
    margin-top:43px;
    padding:15px;
    margin-left: 20px;
    margin-bottom:35px;
  }

  .container-shop {
    padding:20px;
    padding-left:20px;
    overflow-x: hidden;
  }

  .container-cart {
    margin-left: 10px;
    margin-top: 0px;
    overflow-x: hidden;
  }
  
  .button-purchase {
    margin-left:40%;
  }

}

@media (min-width: 700px) {
  .navbar form {
    display: none;
  }
}

.container-prod {
  padding:20px;
  margin-top:45px;
  margin-bottom:50px;
  margin-left: 250px;
}

.container-cart {
  margin-left: 260px;
  margin-top: 0px;
  overflow-x: hidden;
}

.button-purchase {
  margin-left:40%;
}

.prevnex {
  text-align: center;
}


